/* You can add global styles to this file, and also import other style files */

body{
  font-family: 'Work Sans', sans-serif;
}

.container {
  max-width: 960px;
}

.card-deck .card {
  min-width: 220px;  
}

.card{
	transition: all 0.5s ease;
}

.card:hover{
	transform: translate(5px,2px);
	box-shadow: -5px -2px 5px 0px #888888;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.jumbotron{
	background-color: #FBFFF8 !important;
}


.btn-beige{
	background-color: #9D9488;
	border-color: #9D9488;
	color: white;
}

.btn-beige:hover{
	background-color: #857b6d;
	border-color: #857b6d;
}

.text-beige{
	color: #9D9488;
}

.btn-beige:focus {   
  box-shadow: none;
  outline: 0 none;
}

tr:hover .fa-download{
	visibility: visible;
	opacity: 1;
}

tr:hover .fa-file-pdf{
	color: red;
}

tr .fa-file-pdf{
	transition: color 0.5s ease
}

tr .fa-download{
	visibility: hidden;
  	opacity: 0;
  	transition: visibility .3s, opacity .2s linear;
}

tr{
	cursor: pointer;
	transition: all 0.5s ease;
}

a{
	color: #9D9488;
	
}

a:hover{
	color: #857b6d;
}
